body {
	background-color: white;
}

/* contenedor */
.contenedor {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

/* cabecera */
.cabecera {
	display: flex;
	flex-direction: row;
	background-color: black;
	color: #e8edf3;
}

/* logo */
.cabecera img{
	padding: 1px;
	width: 800px;
	height: 50px;
}

/* cabecer nombre*/
.cabecera p{
	flex-grow: 10;
	text-align: center;
	font-weight: bold;
	
}

/*links de la cabecera */
.cabecera #link{
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	flex-grow: 30;
}

.cabecera #link a{
	padding: 0.5103% 2%;
	text-decoration: none;
	color: #e8edf3;
}

.cabecera #link a:hover{	
	background-color: #e8edf3;
	color: #22264b;
	border-radius: 5px;
}

/*principal*/
.principal{
	display: flex;
	flex-direction: row;
	min-height: 800px; 
}

.sidebarIzq{
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 700px;
	background-color: #e8edf3;
}

.pie{
	display: flex;
	justify-content: center;
	align-items: center; /* vertical */
	height: 45px;
	background-color: #22264b;
	font-weight: bold;
	color: white;
}