/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*
	- para centrar cosas dentro de los div: usad los atributos "justify-content: center;" y "align-items: center;"
*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/* contenedor : div principal donde está contenido todo aquello que se visualiza por pantalla*/
.contenedor {
	display: flex;
	flex-direction: column;
	/* le damos una altura mínima de 100vh (= 100% del viewport height) para que abarque toda la pantalla y pudea crecer sin problemas */
	min-height: 100vh;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/* cabecera */
.cabecera {
	display: flex;
	flex-direction: row;
	text-align: center;
	background-color: black;
	color: #e8edf3;

}

/*divi imagen*/
.cabecera #logo {
	display: flex;
	align-items: flex-start;
	width: 50%;
}


/* logo */
.cabecera img{
	height: 50px;
}

/*links de la cabecera */
.cabecera #link{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
	padding-right: 30px;
}

.cabecera #link a{
	padding: 0.5103% 2%;
	text-decoration: none;
	color: #e8edf3;
}

.cabecera #link a:hover{	
	background-color: #e8edf3;
	color: #22264b;
	border-radius: 5px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/*principal*/
.principal{
	display: flex;
	flex-direction: row;
	min-height: 800px;
}

.contenido #foto #img-perfil {
	width: 120px;
	height: 120px;
}
.contenido #memes #meme {
	width: 150px;
	height: 150px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/

.sidebarIzq{
	display: flex;
	flex-direction: column;
	width: 250px;
	min-height: 800px;
	background-color: #e8edf3;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/

.pie{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	background-color: #22264b;
	font-weight: bold;
	color: white;
}