/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*
	- para centrar cosas dentro de los div: usad los atributos "justify-content: center;" y "align-items: center;"
*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

body {
	background-color: white;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*																														*/
/*								Contenedor: div que contiene toda la página de Asteyo									*/
/*																														*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/

/* contenedor : div principal donde está contenido todo aquello que se visualiza por pantalla*/
.contenedor {
	display: flex;
	flex-direction: column;
	/* le damos una altura mínima de 100vh (= 100% del viewport height) para que abarque toda la pantalla y
	pudea crecer sin problemas */
	min-height: 100vh;
}

@media only screen and (max-width: 1280px) {
  .contenedor {
    width: 74.99999%;
  }
}

@media only screen and (max-width: 960) {
  .contenedor {
    width: 49.99999%;
  }
}

@media only screen and (max-width: 480) {
  .contenedor {
    width: 24.99999%;
  }
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*																														*/
/*										Cabecera: div de la cabecera de la página										*/
/*																														*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/

.cabecera {
	display: flex;
	flex-direction: row;
	text-align: center;
	background-color: black;
	color: #e8edf3;

}

/*div imagen*/
.cabecera #logo {
	display: flex;
	align-items: flex-start;
	width: 50%;
}


/* logo */
.cabecera img{
	height: 50px;
}

/*links de la cabecera */
.cabecera #link{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
	padding-right: 30px;
}

.cabecera #link a{
	margin: 0 3px;
	padding: 1% 2%;
	text-decoration: none;
	color: #e8edf3;
}

.cabecera #link a:hover{	
	background-color: #e8edf3;
	color: #22264b;
	border-radius: 5px;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*																														*/
/*								Principal: div con el contenido principal de la página									*/
/*																														*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/

/*principal: contenedor principal sobre el cual tenemos nuestro sidebar y el contenido de la página */
.principal{
	display: flex;
	flex-direction: row;
	min-height: 800px;
}

/* div contenido*/
.principal #contenido {
	display: flex;
	flex-direction: column;
	padding: 2% 2%;
	width: 100%;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*																														*/
/*										Index: página de inicio de la página Asteyo										*/
/*																														*/
/*----------------------------------------------------------------------------------------------------------------------*/

/* estilo del div del contenido del index */

.principal #contenido-index{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* estilo del enlace que contiene cada div con un meme ?????????????????????????????????????????????????????????*/
.principal #contenido-index .memes {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 40%;
	margin: 15px;
	padding: 1% 1%;
	border: 1px solid black;
	border-radius: 5px;

	color: black;
	text-decoration: none; 
}

.principal #contenido-index .memes:hover {
	background-color: #cccccc;
}

.principal #contenido-index .memes #panelMeme {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	border: 1px solid coral;
}

.principal #contenido-index .memes #panelMeme p {
	
}

.principal #contenido-index .memes #panelMeme #img-meme {
	height: auto;
	max-width:50%;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*																														*/
/*										Perfil: página de perfil de los usuarios										*/
/*																														*/
/*----------------------------------------------------------------------------------------------------------------------*/

/*editar perfil*/
.principal #contenido a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1% 1%;
	width: 100px;
	color: black;
	border: 1.5px solid black;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold; 
}

/* estilo del hover de editar perfil */
.principal #contenido a:hover {
	background-color: black;
	color: white;
	border-radius: 5px;
}

/* panel del perfil con al foto y los datos del usuario*/
.principal #contenido #panel-perfil {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	border-top: 2px solid coral;
}

/*imagen de perfil*/
.principal #contenido #panel-perfil #foto #img-perfil {
	width: 120px;
	height: 120px;
}

/*info del usuario*/
.principal #contenido #panel-perfil #perfil {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px;
	padding: 2% 2%;
}

/*estilo de los div que van a contener la información del usuario dentro del perfil*/
.principal #contenido #panel-perfil #perfil #user-info{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.principal #contenido #panel-perfil #perfil p {
	margin: 5px 10px;
	font-weight: bold;
}

/*----------------------------------------------------------------------------------------------------------------------*/

/*panel de memes del perfil*/
.memes-perfil {
	margin-top:5px;
	padding-top: 5px;
	border-top: 2px solid coral;
}

/*memes responsive div */
.responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
	border: 1px solid blue;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

/*panel del perfil donde estan contenidos los memes de usuario */
.principal #contenido #meme {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/*imagen del meme*/
.principal #contenido #imagen-meme {
	width: auto;
	height: 150px;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*																														*/
/*									Meme: página donde se visualiza un meme y toda su info								*/
/*																														*/
/*----------------------------------------------------------------------------------------------------------------------*/

.principal #contenido img {
	width: 150px;
	height: auto;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*																														*/
/*								Sidebar Izq: div con el sidebar izquierdo de la página									*/
/*																														*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/

.sidebarIzq{
	display: flex;
	flex-direction: column;
	width: 250px;
	min-height: 800px;
	background-color: #e8edf3;
	padding: 2% 2%;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*																														*/
/*												Pie: div del pie de la página											*/
/*																														*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/

.pie{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	background-color: #22264b;
	font-weight: bold;
	color: white;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*																														*/
/*						Formularios: estilos de los diferentes formularios de la página									*/
/*																														*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/

.FLogin{
	padding-top: 150px;
	padding-left: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*----------------------------------------------------------------------------------------------------------------------*/
.grupo-control{
	display:flex;
	align-items: center;
	flex-direction: column;
}

.grupo-control label{
	padding: 8px;
}

.grupo-control button{
	margin-top: 8px;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
    color: #000000;
    background-color: #e6cf8b;
    border-radius: 6px;
    border: 2px solid #22264b;
}

.grupo-control button:hover{
	text-decoration: none;
    color: #ffffff;
    background-color: #22264b;
    border-radius: 6px;
    border: 2px solid #0016b0;
}