/*----------------------------------------------------------------------------------------------------------------------*/
/*																														*/
/*										Index: página de inicio de la página Asteyo										*/
/*																														*/
/*----------------------------------------------------------------------------------------------------------------------*/

/* estilo del div del contenido del index */
.contenido-index{
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;

	padding: 15px 25px;
}

/*----------------------------------------------------------------------------------------------------------------------*/

/* enlace que contiene el div de cada meme */
.contenido-index a {
	text-decoration: none;
	color: unset;
}

/* estilo del div que contiene los memes */
.contenido-index #meme{
	display: flex;
	flex-direction: column;

	width: 500px;

	margin-top: 20px;
	margin-bottom: 20px;

	border-radius: 2px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*----------------------------------------------------------------------------------------------------------------------*/

/* banner con el titulo del meme */
.contenido-index #meme #meme-title {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 50px; 
	padding-left: 15px;

	font-weight: bold;
	background-color: #e8edf3;
}

/*----------------------------------------------------------------------------------------------------------------------*/

/* meme */
.contenido-index #meme #meme-container #img-meme {
	height: auto;
	width: 500px;
}

/*----------------------------------------------------------------------------------------------------------------------*/

/* banner con la info del meme */
.contenido-index #meme #meme-info {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 50px;

	padding-left: 15px;

	background-color: #e8edf3;
}

/* div con la info del autor */
.contenido-index #meme #meme-info #user-info {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 50%;
}

.contenido-index #meme #meme-info #user-info p {
	padding-left: 10px;
}

/* imagen de perfil del autor en la info del meme */
.contenido-index #meme #meme-info #user-profile-picture {
	width: 35px;
	height: 35px;
}
























/*----------------------------------------------------------------------------------------------------------------------*/

/* estilo del enlace que contiene cada div con un meme ?????????????????????????????????????????????????????????*/
/*
.contenido-index .memes {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 40%;
	margin: 15px;
	padding: 1% 1%;
	border: 1px solid black;
	border-radius: 5px;

	color: black;
	text-decoration: none; 
}

.contenido-index .memes:hover {
	background-color: #cccccc;
}

.contenido-index .memes #panelMeme {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	border: 1px solid coral;
}

.contenido-index .memes #panelMeme p {
	
}

.contenido-index .memes #panelMeme #img-meme {
	height: auto;
	max-width:50%;
}
*/