/*----------------------------------------------------------------------------------------------------------------------*/
/*																														*/
/*										Index: página de inicio de la página Asteyo										*/
/*																														*/
/*----------------------------------------------------------------------------------------------------------------------*/

/* estilo del div del contenido del index */
.contenido-index{
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;

	padding: 15px 25px;
	
}

/*----------------------------------------------------------------------------------------------------------------------*/

/* enlace que contiene el div de cada meme */
.contenido-index a {
	text-decoration: none;
	color: unset;
}

/* estilo del div que contiene los memes */
.contenido-index #meme{
	display: flex;
	flex-direction: column;

	width: 500px;

	margin-top: 20px;
	margin-bottom: 20px;

	border-radius: 4px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* estilo de div que contiene los memes cuando se situa el raton encima */
.contenido-index #meme:hover{
	box-shadow: 0 2px 4px 0 coral, 0 6px 20px 0 coral;
}

/*----------------------------------------------------------------------------------------------------------------------*/

/* banner con el titulo del meme */
.contenido-index #meme #meme-title {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 50px; 
	padding-top: 3px;
	padding-left: 15px;

	font-weight: bold;
	background-color: #e8edf3;
}

/*----------------------------------------------------------------------------------------------------------------------*/

/* meme */
.contenido-index #meme #meme-container #img-meme {
	height: auto;
	width: 500px;
}

/*----------------------------------------------------------------------------------------------------------------------*/

/* banner con la info del meme */
.contenido-index #meme #meme-info {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 50px;

	padding-left: 15px;

	background-color: #e8edf3;
}

/* div con la info del autor */
.contenido-index #meme #meme-info #user-info {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 50%;
}

.contenido-index #meme #meme-info #user-info p {
	padding-left: 10px;
}

/* imagen de perfil del autor en la info del meme */
.contenido-index #meme #meme-info #user-profile-picture {
	width: 35px;
	height: 35px;
}

.contenido-index .subir {
	
	margin-top: 30px;
	text-decoration: none;
	color: #2c272a;
	border: 2px solid #444243;
	border-radius: 10px;
	background-color: coral;
	padding: 1% 2%;
	font-family: impact;
	text-align: center;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.contenido-index .subir:hover{
	
	text-decoration: none;
	background-color: #2c272a;
	color: coral;
	border: 2px solid #444243;
	border-radius: 10px;
	box-shadow: 0 8px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgba(255, 255, 255, 0.3);
}

.contenido-index #subida{
	border: 2px solid #444243;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*CSS de los rankings*/

.contenido-index #info {
	display: flex;
	flex-direction: row;

	margin-top: 20px;
	margin-bottom: 10px;
}

.contenido-index #info span{
	font-size: 30px;

	padding-right: 10px;
}

.contenido-index #info #img{
	padding-right: 30px;
}

/*imagen de perfil del usuario */
.contenido-index #info #img #user-profile-picture {
	width: 150px;
	height: 150px;
	
	
}

/* div con el titulo y el autor del meme */
.contenido-index #info #meme-info {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-left: 30px;
}

.contenido-reports{
		
		text-align:center;
		/*display: flex;
		flex-direction: row;*/
		width: 100%;
		align-items: center;
		margin-top: 100;
}

/*div con la info de los reports*/
.contenido-reports #caja {
	
	width: 300px;
	text-align: center;
	top: 200px;
	margin-left: 60px;
	
	border: 2px solid coral;
	padding: 1% 1%;
	background-color: #e8edf3;
	float: left;
	
	color: #22264b;
}

.reports{
	text-decoration: none;
	background-color: coral;
	width: 100%
}

.reports td {
   width: 25%;
   text-align: center;
   background-color: #eeeeee;
   text-decoration: none;
   padding: 3% 1%;
   
}

.reports th {
	width: 25%;
   text-align: center;
   background-color: #aaaaaa;
   text-decoration: none;
}